

.slidingImages {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: relative;
    background-color: white;
    z-index: 1;
    overflow-x: hidden;
    width: 60vw;

    .slider {
        display: flex;
        position: relative;
        gap: 3vw;
        width: 40vw;
        left: 10vw;

        .project {
            width:20vw;
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .imageContainer {
                position: relative;
                width: 80%;
                height: 80%;

                img {
                    object-fit: cover;
                }
            }

                     
        }
    }

   
}